<div class="highlight">
  <div class="heading">
    <h3>Favourite Movies</h3>
  </div>
  <div class="list">
    <div class="post" *ngFor="let list of favlist">
      <app-circle [rating]="list.vote_average"></app-circle>
      <img id="img" [src]=image(list.poster_path) alt="" [routerLink]="['/Movies', list.id]">
      <div class="ratings">
        <div>
          <app-star [rating]="list.vote_average"></app-star>
          <h5>{{ list.title }}</h5>
          <app-tag [tags]="list.genres"
                    [id]="id"></app-tag>
        </div>
        <div class="delete" (click)="delete(list)">
          <i class="fa fa-trash" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
</div>
