<app-search></app-search>
<main>
<div class="row body">
  <div class="col-md-6 col-sm-12 land" *ngFor="let first of firstArr">
    <img [src]=image(first.backdrop_path) alt="">
    <div class="content-one">
      <app-circle [rating]="first.vote_average"></app-circle>
      <h2>{{ first.title }}</h2>
      <div class="flex">
        <app-star [rating]="first.vote_average"></app-star>
        <app-tag [tags]="first.genre_ids"></app-tag>
        <app-time [year]="first.release_date"></app-time>
      </div>
      <p>{{ first.overview }}</p>
    <button type="button" [routerLink]="['/Movies', first.id]">READ MORE</button>
    </div>

  </div>
  <!-- </div> -->
  <div class="col-md-6 col-sm-12">
    <div class="row">
      <div class="col-md-12 land-2" *ngFor="let second of secondArr">
        <img [src]=image(second.backdrop_path) alt="">
        <div class="content-two">
          <app-circle [rating]="second.vote_average"></app-circle>
          <h3>{{ second.title }}</h3>
          <div class="flex">
            <app-star [rating]="second.vote_average"></app-star>
            <app-tag [tags]="second.genre_ids"></app-tag>
            <app-time [year]="second.release_date"></app-time>
          </div>
          <button type="button" [routerLink]="['/Movies', second.id]">READ MORE</button>
        </div>
      </div>
      <div class="col-md-12 land-2 none" *ngFor="let third of thirdArr">
        <img [src]=image(third.backdrop_path) alt="">
        <div class="content-three">
          <app-circle [rating]="third.vote_average"></app-circle>
          <h3>{{ third.title }}</h3>
          <div class="flex">
            <app-star [rating]="third.vote_average"></app-star>
            <app-tag [tags]="third.genre_ids"></app-tag>
            <app-time [year]="third.release_date"></app-time>
          </div>
          <button type="button" [routerLink]="['/Movies', third.id]">READ MORE</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- HIGHLIGHT SECTION -->
<div class="heightlight">
  <div class="heading">
    <h3>Highlights today</h3>
    <p>Be sure not to miss these reviews today</p>
  </div>
  <div class="list">
    <div class="post" *ngFor="let list of moviesList">
      <app-circle [rating]="list.vote_average"></app-circle>
      <img id="img" [src]=image(list.poster_path) alt="" [routerLink]="['/Movies', list.id]">
      <div class="ratings">
        <app-star [rating]="list.vote_average"></app-star>
        <h5>{{ list.title }}</h5>
        <app-tag [tags]="list.genre_ids"></app-tag>
      </div>
    </div>
  </div>

</div>
<div class="land" *ngFor="let first of highPost">
  <img [src]=image(first.backdrop_path) alt="">
  <div class="content-one">
    <app-circle [rating]="first.vote_average"></app-circle>
    <h2>{{ first.title }}</h2>
    <div class="flex">
      <app-star [rating]="first.vote_average"></app-star>
      <app-tag [tags]="first.genre_ids"></app-tag>
      <app-time [year]="first.release_date"></app-time>
    </div>
    <p>{{ first.overview }}</p>
  <button id="buttons" type="button" [routerLink]="['/Movies', first.id]">READ MORE</button>
  </div>
</div>

<!-- <app-showcase></app-showcase>

  <!-- Movies Section -->
<div class="movies-section">
  <div class="heading">
    <h3>New Releases</h3>
    <p>Our most recently released reviews.</p>
  </div>

  <div class="poster">
    <div class="row">
      <div class="col-md-6">
        <div class="poster-one" *ngFor="let poster of mainPoster">
          <app-circle [rating]="poster.vote_average"></app-circle>
          <img id="img" [src]=image(poster.poster_path) alt="" [routerLink]="['/Movies', poster.id]">
          <div class="ratings">
            <app-star [rating]="poster.vote_average"></app-star>
            <h5>{{ poster.title }}</h5>
            <app-tag [tags]="poster.genre_ids"></app-tag>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6" id="show" *ngFor="let list of posterList">
            <app-circle [rating]="list.vote_average"></app-circle>
            <img id="img" [src]=image(list.poster_path) alt="" [routerLink]="['/Movies', list.id]">
            <div class="ratings">
              <app-star [rating]="list.vote_average"></app-star>
              <h5>{{ list.title }}</h5>
              <app-tag [tags]="list.genre_ids"></app-tag>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</main>



<app-footer></app-footer>
