<div class="details" *ngFor="let movie of displayDetails">
  <div class="row">
    <div class="col-md-4 col-sm-12 img">
      <img [src]="movie.image.url" alt="">
      <app-round [rating]="movie.rating"></app-round>
    </div>
    <div class="col-md-8 col-sm-12 content">
      <h4>{{ movie.title }}</h4>
      <div class="flex">
        <app-star [rating]="movie.rating"></app-star>
        <app-tag [tags]="movie.genre"></app-tag>
        <app-time [year]="movie.releaseYear"></app-time>
        <app-fav [favList]="movie"></app-fav>
      </div>
      <p>{{ movie.description }}</p>
    </div>
  </div>
</div>
<app-footer></app-footer>
