footer {
  height: 70vh;
  width: 100%;
  background-image: url('https://res.cloudinary.com/chidi6ix/image/upload/v1574734608/7_kumuid.jpg');
  background-position: center;
  background-size: 100% 100%;
  .footer {
    background: rgba(41, 41, 57, 0.75);
    height: 70vh;
    width: 100%;
    text-align: center;
    position: relative;
    padding: 2rem 0;
  }
}

.search {
  text-align: center;
  p {
    margin-top: 2rem;
    font-weight: bold;
    color: #ffc107;
  }

  .input {
    width: 300px;
    height: 35px;
    border-radius: 20px;
    margin: 0 auto;
    background: #fff;
    display: flex;
    justify-content: space-evenly;

    input {
      width: 80%;
      color: none;
      outline: none;
      border: none;
      text-align: center;
    }

    span {
      font-weight: bolder;
      color: #ffc107;
      margin: auto 0;
      cursor: pointer;
    }
  }

}

.social-icons {
  margin-top: 5rem;
  h4 {
    font-weight: bolder;
    color: #fff;
    margin-bottom: 1rem;
  }

  .icon {
    text-decoration: none;
    color: #ffc107;
    margin: 0 0.5rem;
    font-weight: bolder;
    font-size: 1.2rem;
  }
}

.bottom {
  position: absolute;
  bottom: 5px;
  color: #fff;
  left: 50%;
  transform: translateX(-50%);
}

.dave {
  color: #ffc107;
}


