<footer>
  <div class="footer">
    <div class="search">
      <p>Looking for something else? search our reviews:</p>
      <form (ngSubmit)="searchMovie()">
        <div class="input">
          <input type="text" name="input" placeholder="Try 'Avengers'" [(ngModel)]="search" #ctrl="ngModel" required>
          <span (click)="searchMovie()">
            <i class="fa fa-search" aria-hidden="true"></i>
          </span>
        </div>
      </form>
      <app-modal
          [result]="result"
          [showModal]="showModal"
          (closeModal)="cancel($event)"></app-modal>
    </div>

    <div class="social-icons">
      <h4>Connect Us</h4>
      <a href="https://www.linkedin.com/in/dave-chinweike-7b448418b/" class="icon" target="_blank">
        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
      </a>
      <a href="https://twitter.com/daveOnactive" class="icon" target="_blank">
        <i class="fa fa-twitter" aria-hidden="true"></i>
      </a>
      <a href="https://github.com/daveOnactive" class="icon" target="_blank">
        <i class="fa fa-github" aria-hidden="true"></i>
      </a>
    </div>

    <div class="bottom">
      <p>ALC Phase 2 Challenge 1 project, Created by <a href="https://github.com/daveOnactive" class="dave" target="_blank">Dave
      </a></p>
      <p>Copyright &copy; Movie Checkout</p>
    </div>
  </div>

</footer>
